*{
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.breath{
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  /* animation: breath 2000ms infinite linear alternate-reverse; */
}

@keyframes breath{
  /* from{transform: scale(1); background-color: blue;}
  to{transform: scale(2); background-color: purple;} */

  0%{background-color: blue; transform: scale(1);}
  25%{background-color: green;}
  50%{background-color: orange;}
  75%{background-color: yellow;}
  100%{background-color: pink; transform: scale(2);}
}

h3{
  margin-bottom: 100px;
}

.time{
  /* border: 1px solid blue; */
  border-radius: 20px;
  /* transform: rotate(90deg); */
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time h3{
  margin: 10px;
  border-radius: 50px 50px;

}